.advantages__inner-wrapper {
  min-width: 256px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @background-color;
}

.advantages {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
}

.advantages__item {
  list-style: none;
  border-bottom: 1px solid #d6d6d6;

  &--gray {
    background-color: #eeeeee;
  }

  &:last-child {
    border-bottom: none;
  }
}

.advantages__item:first-child {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -160px;
    border-top: 10px solid #ffffff;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
  }
}

.advantages__picture-wrapper {
  height: 260px;
  overflow: hidden;
}

.advantages__image {
  display: block;
  width: 100%;
}

.advantages__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  padding-top: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  &--blue {
    margin-bottom: 9px;
    padding-top: 44px;
    color: @text-color;
  }

  &--triangle {
    margin-bottom: 9px;
    padding-top: 50px;
  }
}

.advantages__number {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  &--blue {
    margin-bottom: 15px;
    color: @text-color;
  }

  &--gray {
    color: #333333;
  }
}

.advantages__paragraph {
  width: 250px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1px;

  &--blue {
    width: 280px;
    padding-bottom: 39px;
    color: @text-color;
  }

  &--gray {
    color: #333333;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 56px;
  }

  .advantages__flex-container {
    display: flex;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__inner-wrapper {
    width: 256px;
    min-height: 256px;

    &--bridge {
      order: 1;
      width: 154px;
    }
  }

  .advantages__item {
    border-bottom: none;

    &:nth-child(1),
    &:nth-child(2) {
      width: 100%;
    }

    &--gray {
      width: 33.33333333%;
      padding-bottom: 20px;
    }
  }

  .advantages__item:first-child {
    &::before {
      display: none;
    }
  }

  .advantages__title {
    width: 151px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 47px;
    font-size: 21px;

    &--gray {
      padding-top: 42px;
    }
  }

  .advantages__number {
    width: 162px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__paragraph {
    width: 162px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0;
  }

  .advantages__picture-wrapper {
    width: 100%;
  }

  .advantages__image {
    height: 100%;
  }

  .advantages__line-break {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .advantages__inner-wrapper {
    width: 579px;
  }

  .advantages__item {
    &--gray {
      padding-bottom: 40px;
    }
  }

  .advantages__title {
    width: 213px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;

    &--bridge {
      width: 151px;
    }

    &--gray {
      width: 150px;
      padding-top: 44px;
    }
  }

  .advantages__paragraph {
    width: 265px;
    margin-left: auto;
    margin-right: auto;

    &--bridge {
      width: 215px;
    }
  }

  .advantages__paragraph--gray {
    width: 309px;
    letter-spacing: 0;

    &:nth-child(2) {
      width: 279px;
    }
  }
}
