.hotel-search {
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__paragraph {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__link {
  display: block;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @text-color;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &--disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .hotel-search {
    padding-bottom: 56px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .hotel-search__title {
    width: 435px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }

  .hotel-search__paragraph {
    width: 435px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
  }

  .hotel-search__line-break {
    display: block;
  }

  .hotel-search__link {
    width: 458px;
    font-weight: 700;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    padding-bottom: 70px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .hotel-search__paragraph {
    margin-bottom: 45px;
  }
}
