.main-photo {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.main-photo__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main-photo__paragraph {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
}

.main-photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
