.main-footer {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer__title {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  background-color: @background-color;
}

.main-footer__developed {
  display: block;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    margin-left: 119px;
    margin-right: 119px;
  }
}
