.main {
  padding-top: 40px;
  background-color: #ffffff;
}

.main__slogan {
  display: block;
  width: 255px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.main__advantage {
  width: 255px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main__slogan {
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 21px;
  }

  .main__advantage {
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .main__slogan {
    padding-left: 120px;
    padding-right: 120px;
  }

  .main__advantage {
    padding-left: 120px;
    padding-right: 120px;
  }
}
