.main-header__banner {
  width: 320px;
  height: 388px;
  margin-bottom: 40px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header__logo {
  position: absolute;
  top: 263px;
  left: 110px;
}

.main-header__text {
  position: absolute;
  top: 400px;
  left: 20px;
}
