.main-header {
  position: relative;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    fill: #81b3d2;
  }
}

.main-header__toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  background-image: url("../../img/icon-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;

  &--close {
    top: 20px;
    //background-image: url("../../img/icon-cross.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.main-header__logo {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

.main-header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 388px;
  margin-top: -25px;
  background-color: @background-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &--inner-page {
    min-width: 229px;
    height: 155px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 57px;
      background-image: url("../../img/bg-intro-triangle-tablet.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    margin-top: -90px;
  }

  .main-header__banner {
    min-width: 768px;
    min-height: 518px;
    background-color: @background-color;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    &--inner-page {
      min-height: 290px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
    }

    .main-header__text {
      position: absolute;
      top: 133px;
      width: 460px;
      height: 350px;

      &--inner-page {
        top: 13px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 47px;
      background-image: url("../../img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
  }

  .main-header__banner {
    min-width: 1200px;
    background-color: @background-color;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-header__logo {
    width: 188px;
    height: 96px;
  }

  .main-header__image {
    width: 188px;
    height: 96px;
  }
}
