.main__inner-wrapper {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @blue;
}

.main__image-city {
  margin-bottom: 35px;
}

.main__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.main__item {
  list-style: none;
  &--gray {
    background-color: #eeeeee;
  }
}

.main__title {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 30px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  &--mod {
    margin-bottom: 20px;
    padding-top: 60px;
    color: @white;
  }
}

.main__number {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  &--mod {
    color: @white;
  }
}

.main__paragraph {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  &--mod {
    padding-bottom: 40px;
    color: @white;
  }
}
