.main-header__logo {
  position: relative;
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

.main-photo__image {
  position: absolute;
}

.main-header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 388px;
  margin-top: -25px;
  margin-bottom: 40px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
