.navigation {
  margin-bottom: 55px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @background-color;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.navigation__link {
  color: @text-color;
}
