.personal-info__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.personal-info__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.personal-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.personal-info__item {
  margin-bottom: 20px;
}
