@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src:
    url("../fonts/ptsans.woff2") format(woff2),
    url("../fonts/ptsans.woff") format(woff);
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: bold;
  font-style: normal;
  src:
    url("../fonts/ptsansbold.woff2") format(woff2),
    url("../fonts/ptsansbold.woff") format(woff);
}
