/* stylelint-disable */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
img {
  border-style: none;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}
optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
}
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"] ::-webkit-inner-spin-button,
[type="number"] ::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"] ::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format(woff2), url("../fonts/ptsans.woff") format(woff);
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format(woff2), url("../fonts/ptsansbold.woff") format(woff);
}
.main-header {
  position: relative;
  background-color: #ffffff;
}
.main-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26px;
  background-image: url("../../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  fill: #81b3d2;
}
.main-header__toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  background-image: url("../../img/icon-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
.main-header__toggle--close {
  top: 20px;
  background-image: url("../../img/icon-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
.main-header__logo {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}
.main-header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  height: 388px;
  margin-top: -25px;
  background-color: #81b3d2;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.main-header__banner--inner-page {
  min-width: 229px;
  height: 200px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-header__banner {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../../img/bg-intro-triangle-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .main-header__toggle {
    display: none;
  }
  .main-header__logo {
    margin-top: -90px;
  }
  .main-header__banner {
    min-width: 768px;
    min-height: 518px;
    background-color: #81b3d2;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .main-header__banner--inner-page {
    min-height: 290px;
  }
  .main-header__banner .main-header__text {
    position: absolute;
    top: 133px;
    width: 460px;
    height: 350px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .main-header__banner {
    background-image: url("../../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-header::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 26px;
    background-image: url("../../img/bg-intro-triangle-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .main-header__banner {
    min-width: 1200px;
    background-color: #81b3d2;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .main-header__logo {
    width: 188px;
    height: 96px;
  }
  .main-header__image {
    width: 188px;
    height: 96px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .main-header__banner {
    background-image: url("../../img/bg-back-desktop@2x.jpg");
  }
}
.main {
  padding-top: 40px;
  background-color: #ffffff;
}
.main__slogan {
  display: block;
  width: 255px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.main__advantage {
  width: 255px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .main__slogan {
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 21px;
  }
  .main__advantage {
    width: 490px;
    margin-bottom: 47px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .main__slogan {
    padding-left: 120px;
    padding-right: 120px;
  }
  .main__advantage {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.hotel-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
.hotel-search__title {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search__paragraph {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search__link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}
.hotel-search__link:hover {
  background-color: #669ec0;
}
.hotel-search__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.hotel-search__link--disabled {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .hotel-search {
    padding-left: 60px;
    padding-right: 60px;
  }
  .hotel-search__title {
    width: 434px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
  .hotel-search__paragraph {
    width: 434px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
  }
  .hotel-search__link {
    width: 458px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
.main-form__review-title {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-form__review-paragraph {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
}
.main-form__button {
  width: 280px;
}
.main-form__required-fields {
  display: none;
}
@media (min-width: 768px) {
  .main-form__review-title {
    width: 439px;
    font-size: 30px;
  }
  .main-form__review-paragraph {
    width: 439px;
    border: none;
  }
}
@media (min-width: 768px) {
  .main-form {
    padding-left: 60px;
    padding-right: 60px;
  }
  .main-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-form__button {
    width: 324px;
    margin-bottom: 50px;
    margin-right: 160px;
  }
  .main-form__required-fields {
    display: inline;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .main-form {
    padding-left: 120px;
    padding-right: 120px;
  }
  .main-form__button {
    width: 480px;
    margin-right: 310px;
  }
}
.main-photo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
.main-photo__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-photo__paragraph {
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
}
.main-photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-photo {
    padding-left: 60px;
    padding-right: 60px;
  }
  .main-photo__title,
  .main-photo__paragraph {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}
@media (min-width: 1200px) {
  .main-photo {
    padding-left: 0;
    padding-right: 0;
  }
}
.photo-gallery__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.photo-gallery__item:last-child {
  border-bottom: none;
}
.photo-gallery__image {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.photo-gallery__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.photo-gallery__paragraph {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.photo-gallery__likes {
  position: relative;
  margin: 0;
  margin-top: 10px;
  margin-left: 30px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: transparent;
}
.photo-gallery__likes::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 22px;
  height: 20px;
  opacity: 0.3;
  background-image: url("../../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: 768px) {
  .photo-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo-gallery__item {
    padding: 0;
    border: none;
    background-color: #f2f2f2;
  }
  .photo-gallery__item--big {
    width: 100%;
  }
  .photo-gallery__item--mini {
    width: 50%;
  }
  .photo-gallery__item--dark-gray {
    background-color: #eaeaea;
  }
  .photo-gallery__image {
    padding: 0;
  }
  .photo-gallery__image--big {
    width: 100%;
    height: 400px;
  }
  .photo-gallery__image--mini {
    width: 100%;
    height: 267px;
  }
  .photo-gallery__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.photo-gallery__likes-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -15px;
}
@media (min-width: 1200px) {
  .photo-gallery__item {
    position: relative;
  }
  .photo-gallery__item--big {
    height: 400px;
  }
  .photo-gallery__item--mini {
    height: 267px;
  }
  .photo-gallery__item:nth-child(2),
  .photo-gallery__item:nth-child(3),
  .photo-gallery__item:nth-child(4) {
    width: 33.3333%;
  }
  .photo-gallery__flex-container {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo-gallery__image {
    margin: 0;
  }
  .photo-gallery__title {
    margin-top: 10px;
    padding-left: 20px;
    color: #ffffff;
  }
  .photo-gallery__paragraph {
    padding-left: 20px;
    color: #ffffff;
  }
  .photo-gallery__likes {
    padding-right: 20px;
    color: #ffffff;
  }
  .photo-gallery__likes::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 22px;
    height: 20px;
    opacity: 0.3;
    color: #ffffff;
    background-image: url("../../img/icon-like.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
.navigation {
  display: none;
  background-color: #81b3d2;
}
.navigation--no-js {
  display: block;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.navigation__item:first-child {
  border-top: none;
}
.navigation__item:last-child {
  border-bottom: none;
}
.navigation__item:hover {
  background-color: #669ec0;
  -webkit-box-shadow: inset 0 1px rgba(1, 1, 1, 0.2);
          box-shadow: inset 0 1px rgba(1, 1, 1, 0.2);
}
.navigation__item:active {
  background-color: #5496bd;
}
.navigation__link {
  display: block;
  color: #ffffff;
}
.navigation__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .navigation {
    display: block;
    padding-left: 26px;
    padding-right: 26px;
    background-color: #ffffff;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 44px;
  }
  .navigation__item {
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
    border: none;
  }
  .navigation__item:first-child {
    margin-left: 24px;
    margin-right: 60px;
  }
  .navigation__item:nth-child(2) {
    margin-right: 28%;
  }
  .navigation__item:nth-child(3) {
    margin-right: 35px;
  }
  .navigation__item:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navigation__item:active {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navigation__link {
    color: #000000;
  }
  .navigation__link:hover {
    color: #81b3d2;
  }
  .navigation__link:active {
    color: #000000;
    opacity: 0.3;
  }
  .navigation__link--active {
    color: #766357;
  }
  .navigation__link--active:hover {
    color: #604e43;
  }
  .navigation__link--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
@media (min-width: 1200px) {
  .navigation {
    padding-left: 70px;
    padding-right: 70px;
  }
}
.inner-list {
  padding-left: 20px;
  padding-right: 20px;
}
.inner-list__item {
  position: relative;
  width: 210px;
  margin-left: 50px;
  list-style: none;
}
.inner-list__item--house::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -48px;
  width: 37px;
  height: 36px;
  background-image: url("../../img/icon-house.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.inner-list__item--gift::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -44px;
  width: 37px;
  height: 36px;
  background-image: url("../../img/icon-gift.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.inner-list__item--food::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -50px;
  width: 37px;
  height: 36px;
  background-image: url("../../img/icon-burger.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.inner-list__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.inner-list__paragraph {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 51px;
    padding-right: 51px;
  }
  .inner-list__item {
    width: 155px;
    margin-top: 100px;
    margin-left: 0;
  }
  .inner-list__item--house::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 40px;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icon-house.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .inner-list__item--gift {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .inner-list__item--gift::before {
    content: "";
    position: absolute;
    top: -92px;
    left: 45px;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icon-gift.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .inner-list__item--food::before {
    content: "";
    position: absolute;
    top: -87px;
    left: 39px;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icon-burger.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .inner-list__title {
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 21px;
    text-align: center;
  }
  .inner-list__paragraph {
    width: 162px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .inner-list {
    padding-left: 72px;
    padding-right: 72px;
  }
  .inner-list__item {
    width: 252px;
  }
  .inner-list__item--house::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 90px;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icon-house.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .inner-list__item--gift::before {
    content: "";
    position: absolute;
    top: -105px;
    left: 100px;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icon-gift.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .inner-list__item--food::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 90px;
    width: 75px;
    height: 72px;
    background-image: url("../../img/icon-burger.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}
.main-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  opacity: 0.9;
}
.main-footer__title {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  list-style: none;
}
.main-footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  background-color: #81b3d2;
}
.main-footer__social-link:hover {
  background-color: #669ec0;
}
.main-footer__social-link:active {
  background-color: #5496bd;
}
.main-footer__social-link:active svg {
  opacity: 0.3;
}
.main-footer__social-icon {
  fill: #ffffff;
}
.main-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-footer__developed {
  display: block;
  padding-bottom: 25px;
  padding-right: 11px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-footer__html-academy-logo {
  margin-top: -5px;
}
.main-footer__html-academy-logo:hover {
  fill: #81b3d2;
}
.main-footer__html-academy-logo:active {
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding-left: 119px;
    padding-right: 119px;
  }
}
.personal-info {
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.personal-info__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.personal-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.personal-info__item {
  margin-bottom: 20px;
}
.personal-info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  margin: 0;
  padding: 0;
}
.personal-info__label {
  margin-right: 15px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
.personal-info__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 58px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
}
.personal-info__input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.personal-info__input:active,
.personal-info__input:focus {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  outline: none;
}
@media (min-width: 768px) {
  .personal-info {
    padding-left: 40px;
    border: none;
  }
  .personal-info__title {
    margin-bottom: 50px;
    text-align: left;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .personal-info {
    padding-left: 190px;
  }
}
.contacts-info {
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.contacts-info__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.contacts-info__list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}
.contacts-info__block {
  position: relative;
  margin: 0;
  padding: 0;
}
.contacts-info__block::after {
  content: "";
  position: absolute;
  right: 0;
  top: 36px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.contacts-info__block--phone::after {
  background-image: url("../../img/icon-phone.svg");
}
.contacts-info__block--email::after {
  background-image: url("../../img/icon-mail.svg");
}
.contacts-info__label {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
.contacts-info__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 58px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
}
.contacts-info__input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.contacts-info__input:active,
.contacts-info__input:focus {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  outline: none;
}
@media (min-width: 768px) {
  .contacts-info {
    width: 650px;
    margin-top: 40px;
    border: none;
  }
  .contacts-info__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
  }
  .contacts-info__title::before,
  .contacts-info__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 125px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .contacts-info__title::before {
    margin-right: 60px;
  }
  .contacts-info__title::after {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .contacts-info {
    margin-bottom: 50px;
  }
  .contacts-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 960px;
  }
  .contacts-info__title {
    margin-bottom: 60px;
  }
  .contacts-info__title::before,
  .contacts-info__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 281px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .contacts-info__title::before {
    margin-right: 60px;
  }
  .contacts-info__title::after {
    margin-left: 60px;
  }
}
.attractions-info {
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.attractions-info__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.attractions-info__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.attractions-info__label {
  margin-bottom: 45px;
  position: relative;
  display: block;
  padding-left: 79px;
  line-height: 26px;
}
.attractions-info__label::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -12px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}
.attractions-info__input {
  display: none;
}
.attractions-info__input:checked + .attractions-info__label::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 4px;
  width: 24px;
  height: 16px;
  background-image: url("../../img/icon-tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.attractions-info__input:hover + .attractions-info__label::before {
  background-color: #e5e5e5;
}
.attractions-info__input:checked:active + .attractions-info__label::after {
  opacity: 0.3;
}
.attractions-info__input:active + .attractions-info__label::before,
.attractions-info__input:focus + .attractions-info__label::before {
  background-color: #d5d5d5;
}
@media (min-width: 768px) {
  .attractions-info {
    width: 650px;
    border: none;
  }
  .attractions-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .attractions-info__item {
    width: 240px;
    margin-bottom: 20px;
  }
  .attractions-info__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    font-size: 21px;
  }
  .attractions-info__title::before,
  .attractions-info__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 120px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .attractions-info__title::before {
    margin-right: 60px;
  }
  .attractions-info__title::after {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .attractions-info {
    width: 1060px;
  }
  .attractions-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .attractions-info__title::before,
  .attractions-info__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 215px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .attractions-info__title::before {
    margin-right: 60px;
  }
  .attractions-info__title::after {
    margin-left: 60px;
  }
}
.impression-info {
  width: 280px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.impression-info__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.impression-info__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
.impression-info__label {
  position: relative;
  display: block;
  margin-bottom: 45px;
  padding-left: 79px;
  line-height: 26px;
}
.impression-info__label::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -12px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.impression-info__input {
  display: none;
}
.impression-info__input:checked + .impression-info__label::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 5px;
  width: 21px;
  height: 21px;
  background-color: #333333;
  border-radius: 50%;
}
.impression-info__input:hover + .impression-info__label::before {
  background-color: #e5e5e5;
}
.impression-info__input:checked:active + .impression-info__label::after {
  opacity: 0.3;
}
.impression-info__input:active + .impression-info__label::before,
.impression-info__input:focus + .impression-info__label::before {
  background-color: #d5d5d5;
}
@media (min-width: 768px) {
  .impression-info {
    padding-right: 40px;
    border: none;
    border-right: 1px solid #e5e5e5;
  }
  .impression-info__title {
    margin-bottom: 60px;
    text-align: left;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .impression-info {
    padding-right: 190px;
  }
}
.opinion-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;
}
.opinion-info__title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.opinion-info__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  margin-bottom: 50px;
  padding: 20px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
}
.opinion-info__textarea:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.opinion-info__textarea:active,
.opinion-info__textarea:focus {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  outline: none;
}
@media (min-width: 768px) {
  .opinion-info {
    width: 650px;
  }
  .opinion-info__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
  }
  .opinion-info__title::before,
  .opinion-info__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 137px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .opinion-info__title::before {
    margin-right: 60px;
  }
  .opinion-info__title::after {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .opinion-info {
    width: 100%;
  }
  .opinion-info__title::before,
  .opinion-info__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 293px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .opinion-info__title::before {
    margin-right: 60px;
  }
  .opinion-info__title::after {
    margin-left: 60px;
  }
}
.advantages__inner-wrapper {
  min-width: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #81b3d2;
}
.advantages {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.advantages__item {
  list-style: none;
  border-bottom: 1px solid #d6d6d6;
}
.advantages__item--gray {
  background-color: #eeeeee;
}
.advantages__item:last-child {
  border-bottom: none;
}
.advantages__item:first-child {
  position: relative;
}
.advantages__item:first-child::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -160px;
  border-top: 10px solid #ffffff;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
}
.advantages__image-city {
  margin-bottom: 36px;
}
.advantages__image-bridge,
.advantages__image-city {
  display: block;
  width: 100%;
}
.advantages__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__title--blue {
  margin-bottom: 9px;
  padding-top: 44px;
  color: #ffffff;
}
.advantages__title--triangle {
  margin-bottom: 9px;
  padding-top: 50px;
}
.advantages__number {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__number--blue {
  margin-bottom: 15px;
  color: #ffffff;
}
.advantages__paragraph {
  width: 240px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__paragraph--blue {
  width: 280px;
  padding-bottom: 39px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .advantages__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .advantages__flex-container:last-child {
    margin-bottom: 0;
  }
  .advantages__inner-wrapper {
    width: 256px;
  }
  .advantages__inner-wrapper--bridge {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__item {
    border-bottom: none;
  }
  .advantages__item:nth-child(1),
  .advantages__item:nth-child(2) {
    width: 100%;
  }
  .advantages__item--gray {
    width: 33.3333%;
    padding-bottom: 20px;
  }
  .advantages__item:first-child::before {
    display: none;
  }
  .advantages__title {
    width: 158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 47px;
    font-size: 21px;
  }
  .advantages__number {
    width: 162px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__paragraph {
    width: 162px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__image-city {
    margin-bottom: 0;
  }
  .advantages__image-bridge,
  .advantages__image-city {
    height: 256px;
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  .advantages__inner-wrapper {
    width: 400px;
  }
  .advantages__item h2,
  .advantages__item p {
    margin-left: auto;
    margin-right: auto;
    width: 262px;
  }
  .advantages__title {
    padding-top: 55px;
  }
}
.modal-error {
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  width: 320px;
  height: 280px;
  margin-left: -160px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-error__title {
  width: 207px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.modal-error__paragraph {
  width: 207px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.modal-error__button {
  width: 180px;
  margin-left: 70px;
  margin-right: 70px;
}
@media (min-width: 768px) {
  .modal-error {
    top: 400px;
    left: 50%;
    width: 400px;
    height: 347px;
    margin-left: -200px;
  }
  .modal-error__title {
    width: 277px;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 40px;
  }
  .modal-error__paragraph {
    width: 277px;
    margin-bottom: 40px;
  }
  .modal-error__button {
    width: 277px;
    font-size: 21px;
  }
}
.modal-sending {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 320px;
  height: 323px;
  margin-left: -160px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-sending__title {
  width: 207px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.modal-sending__paragraph {
  width: 207px;
  margin: 0;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.modal-sending__button-wrapper {
  width: 320px;
  height: 98px;
  padding-top: 30px;
  background-color: #f2f2f2;
}
.modal-sending__button {
  width: 280px;
  margin-left: 65px;
  margin-right: 65px;
}
@media (min-width: 768px) {
  .modal-sending {
    top: 30px;
    left: 50%;
    width: 640px;
    height: 347px;
    margin-left: -320px;
  }
  .modal-sending__title {
    width: 414px;
    margin-bottom: 40px;
    font-size: 30px;
  }
  .modal-sending__paragraph {
    width: 414px;
  }
  .modal-sending__button-wrapper {
    width: 640px;
    padding-top: 50px;
  }
  .modal-sending__button {
    width: 458px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 21px;
  }
}
.button {
  min-height: 58px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #81b3d2;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button--disabled {
  background-color: #e5e5e5;
}

/*# sourceMappingURL=style.css.map */
